<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

    body {

        background: url("https://img3.akspic.ru/crops/5/4/4/1/5/151445/151445-zemlya-temnota-astronomiya-vselennaya-kosmos-3840x2160.jpg");
        background-size: cover;
    }

    form, input {
        text-align: center;
    }
</style>

<body>
<form th:object="${applicationadd}"
      th:action="@{/application/save}"
      th:method="post">

    <input th:text="name" th:field="*{name}" placeholder="name">
    <br>
    <input th:text=" description" th:field="*{description}" placeholder="description">
    <br>
    <input th:text=" developer" th:field="*{developer}" placeholder="developer">
    <br>
    <input th:text="version" th:field="*{version}" placeholder="version">
    <br>
    <br>
    <div class="radio-button">
        <input type="radio" value="BASIC" th:field="*{appStatus}" id="BASIC">

        <lebel class="header" for="BASIC"><h3>BASIC</h3></lebel>

        <input type="radio" value="PREMIUM" th:field="*{appStatus}" id="PREMIUM">

        <lebel class="header" for="PREMIUM"><h3>PREMIUM</h3></lebel>
    </div>
    <select th:field="*{genreId}">
        <option th:each="genre:${genreList}"
                th:value="${genre.id}"
                th:text="${genre.name}">
        </option>
    </select>

    <br>
    <button type="submit" style="color:green">ADD</button>
</form>
</body>
</html>